<launch>
  <!-- queries file -->
  <arg name="scene_file" default="$(find sr_moveit_planner_benchmarking)/data/scene_ground_with_boxes.scene"/>

  <node name="import_scenes" pkg="moveit_ros_warehouse" type="moveit_warehouse_import_from_text"
        output="screen" args="--host 127.0.0.1 --port 33829 --scene $(arg scene_file)"/>
</launch>